input:not(:focus) {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 0px solid black;
}

input:focus {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.list_line {
  background-color: #ffe680;
  border-top-style: solid;
  border-top-color: #95c19c;
  height: 30px;
  width: 600px;
}

#list_header {
	background-image: url(/assets/list_header.png);
	height: 75px;
	width: 600px;
	text-align: center;
	line-height: 45px;
}

#list_footer {
	background-image: url(/assets/list_footer.png);
	height: 30px;
	width: 600px;
}

#add_button {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 3px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 35px;
    bottom: 0px;
}

#remove_selected_button {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 3px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 35px;
    bottom: 0px;
}
